@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Heebo&family=Lato&family=PT+Sans&family=Work+Sans:wght@100;400&family=Roboto:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(/imagem/fundo.jpg);
  background-size: cover;
  background-attachment: fixed;
  font-family: 'PT Sans', sans-serif;
  line-height: 100%;
  
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #3a3b3c; /* Optional: for better visibility */
  padding: 10px; /* Optional: for better spacing */
}

